<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - François</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  </head>

  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__container wrapper">
        <div class="header__logo-wrapper">
          <div class="header__logo">
            <span class="logo">fn({</span>
            <span class="logo-typed" id="typed-text"></span>
            <span class="logo">})</span>
          </div>
        </div>

        <nav class="header__nav">
          <a class="header__link" href="#projets">Projets</a>
          <a class="header__link" href="#about">À propos</a>
        </nav>
      </div>
      <hr class="header__divider" />
    </header>

    <!-- Hero -->
    <section class="hero wrapper">
      <h1 class="hero__title">
        <span class="hero__title-part">Bonjour, je suis François,</span>
        <span class="hero__title-part">développeur web le jour,</span>
        <span class="hero__title-part">dompteur de bugs la nuit</span>
      </h1>
      <p class="hero__subtitle">
        Je transforme le code et le café en projets qui ont du sens.
      </p>
      <a href="#projets" class="hero__cta cta">Voir mes projets</a>
    </section>

    <!-- Section Projets -->
<section id="projets" class="projects wrapper">
  <h2 class="projects__title">Mes projets</h2>
  <div class="projects__grid">
    {% for project in collections.projects %}
    <div class="projects__card" data-url="{{ project.url }}">
      {% if project.data.image %}
      <div class="projects__card-image">
        <img src="{{ project.data.image }}" alt="{{ project.data.title }}" />
      </div>
      {% endif %}

      <div class="projects__card-content">
        <h3 class="projects__card-title">{{ project.data.title }}</h3>
        <p class="projects__card-description">
          {{ project.data.description }}
        </p>

        {% if project.data.tags %}
        <p class="project-tags">
          {% for tag in project.data.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>


    <!-- Modal -->
    <div id="project-modal" class="modal">
      <div class="modal-content">
        <span class="modal-close">&times;</span>
        <div class="modal-body project-content"></div>
      </div>
    </div>

    <script type="module">
      import typeText from '/assets/js/typed.js';
      import initProjectModal from '/assets/js/modal.js';

      typeText('#typed-text', '"Dév Fullstack"', 100);
      initProjectModal();
    </script>
  </body>
</html>
